.app {
  min-height: 100vh;
  background-color: #eeeeee;
}


/* Main content starts AFTER sidebar */

.main-content {
  margin-left: 235px;
  min-height: 100vh;
  margin-right: 260px;
  padding: 40px;
}


.main-content h1 {
  font-size: 30px;
  font-weight: bold;
  margin: 0;
  color: #222222;
}